Gemfile.lock
.bundle
db/*.sqlite3
db/schema.rb
log/*.log
tmp/**/*
.redcar/*
config/database.yml
config/ldap.yml
config/environments/development.rb
config/environments/test.rb
doc/*
*~
.idea/*
.ruby-version
etc/i-tee/i-tee.key
etc/i-tee/i-tee.pem
etc/i-tee/i-tee.crt
ruby/
fs/usr/local/bin/checkout.sh
fs/var/www/i-tee/
fs/var/www/phpvirtualbox/

