[submodule "fs/var/www/phpvirtualbox"]
	path = fs/var/www/phpvirtualbox
	url = https://github.com/imoore76/phpvirtualbox
[submodule "fs/var/www/i-tee"]
	path = fs/var/www/i-tee
	url = https://github.com/magavdraakon/i-tee
